
.vs/Livraria/v15/Server/sqlite3/db.lock
.vs/Livraria/v15/.suo
.vs/Livraria/v15/Server/sqlite3/storage.ide-shm
.vs/Livraria/v15/.suo
.vs/Livraria/v15/Server/sqlite3/storage.ide-shm
.vs/Livraria/v15/.suo
.vs/Livraria/v15/Server/sqlite3/storage.ide
.vs/Livraria/v15/Server/sqlite3/storage.ide-shm
.vs/Livraria/v15/Server/sqlite3/storage.ide-wal
Livraria/bin/Livraria.dll
Livraria/bin/Livraria.pdb
Livraria/obj/Debug/Livraria.csprojAssemblyReference.cache
Livraria/obj/Debug/Livraria.dll
Livraria/obj/Debug/Livraria.pdb
