
<!-- Principal -->
<header class="masthead bg-primary text-white text-center" style="padding-top:10%; padding-bottom:10%; margin-top:-2.5%; margin-bottom:-7%; margin-left:-53%; margin-right:-53.1%;">
	<div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="~/Content/Template/img/icone-book.png" alt="">
		<h1 class="text-uppercase mb-0">Livraria Otacom</h1>
		<hr class="star-light">
	</div>
</header>

