@model Livraria.Models.Locacao

<div class="modal-dialog" style="z-index: 1100;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Finalizar Locação</h3>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <br />
                    <div class="control-group">
                        <label style="font-size:155%;">Data de Entrega:</label>
                    </div>
                    <div class="control-group">
                        <div class="floating-label-form-group controls mb-0 pb-2">
                            <input type="date" class="form-control" name="CPData" required />
                            @Html.ValidationMessageFor(model => model.Entrega, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <div class="modal-footer">
                        <input type="submit" value="Finalizar" class="btn btn-primary" />
                        <button class="btn btn-dark" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
